.list {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: 64px;
}

.row h2::before {
  content: ' ';
  background-color: #981c20;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.row h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
  width: 400px;
  position: sticky;
  overflow: hidden;
}

.row h2::after {
  content: '';
  display: inline-block;
  height: 5px;
  vertical-align: middle;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 2px solid #981c20;
}

.row img {
  height: 200px;
  aspect-ratio: 3/2;
}

.row ul {
  list-style-type: none;
  word-wrap: break-word;
  column-count: 2;
  width: 400px;
}

.row li {
  margin: 10px;
}
