@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.projectContent > * {
  font-size: revert !important;
  margin: revert;
}

html.has-scroll-smooth {
  overflow: hidden;
  max-width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.data-scroll-container {
  perspective: 1px;
}

:root {
  --swiper-navigation-size: 16px;
  --swiper-navigation-color: black;
}

.html {
  font-size: 12px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.markerchina::after {
  background-color: black;
  color: white;
  content: 'China & HongKong';
}

.markerindia::after {
  background-color: black;
  color: white;
  content: 'India';
}

.markerspain::after {
  background-color: black;
  color: white;
  content: 'Spain';
}

.markerchad::after {
  background-color: black;
  color: white;
  content: 'Chad';
}

.markernigeria::after {
  background-color: black;
  color: white;
  content: 'Nigeria';
}

.markerusa::after {
  background-color: black;
  color: white;
  content: 'USA';
}

/* Timeline OVeride */
.selected img {
  transform: scale(1.5);
  transition: 0.4s;
}

.leave-right {
  opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
  top: 95%;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'Prev';
  font-family: sans-serif;
  /* left: 60px; */
}

.swiper-button-prev::before {
}

.swiper-button-next {
  right: 60px;
}

.swiper-button-prev {
  left: 60px;
}

.swiper-button-next::before {
  content: '';
  position: absolute;
  width: 88px;
  height: 1px;
  background: black;
  top: 50%;
  left: -104px;
}

.swiper-button-prev::before {
  content: '';
  position: absolute;
  width: 88px;
  height: 1px;
  background: black;
  top: 50%;
  right: -104px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'Next';
  font-family: sans-serif;
}

.btn {
  background: #8d1b1c;
  padding: 12px 36px;
  color: white;
  text-decoration: underline;
}

.distinction::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 3px;
  background: darkred;
  top: 50%;
  right: -100px;
}

#i1,
#i2,
#i4 {
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
}
/* #i2,
#i3 {
  transition: ease-out;
  transition-duration: 1.2s;
} */

#ex1-layer2,
#ex1-layer1 {
  transition-timing-function: ease-out;
  transition-duration: 0.8s;
}

/* .persppic {
  transform: rotateY(30deg);
  -moz-transform: rotateY(30deg);
  -webkit-transform: rotateY(30deg);
  -o-transform: rotateY(30deg);
} */
